.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding: 50px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.buttons {
    height: 2em;
    width: 4em;
    margin: 0 10px;
    font-family: 'rickpickle';
    font-size: large;
    border-radius: 5px;
    background-color: rgb(157, 214, 233);
    box-shadow: 0 0 7px 3px #fff;
}