.searchBar {
    width: 25%;
    height: 30px;
    margin: 0 10px;
    background-color: rgb(188, 225, 195,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #fff;
    
}

.input {
    border-radius: 5px;
    width: 30%;
    height: 30px;
    margin: 0 10px;
}

.button {
    border-radius: 5px;
    background-color: rgb(157, 214, 233);
    height: 30px;    
    margin: 0 10px;
    font-family: 'rickpickle';
    font-size: large;
}