.error {
    margin: auto;
    height: 60vh;
    width: 60vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error h1 {
    font-size: 30px;
}

.error h2 {
    font-size: 25px;
}