.App {
   height: 200vh;
   text-align: center;
   background-image: url('../public/background2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 30px;
}

@font-face {
   font-family: 'rickymorty';
   src: url('../public/get_schwifty.ttf') format('truetype');
}

.title {
   margin: 20px auto;
   font-family: 'rickymorty';
   font-size: 5em;
   color: rgb(53, 182, 199);
   text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}